# https://github.com/github/gitignore/blob/main/Terraform.gitignore

# local .terraform directories
.terrafom*
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# gnore transient lock info files created by terraform apply
.terraform.lock.hcl

# crash log files
crash.log
crash.*.log

# application code
**/node_modules/*
package-lock.json
.env
